{% include "base.html.twig" %}
<div class="content">
<br>
<h1>{{ 'Liste des étudiants' }}</h1>
<br>
<table>
    <tr>
        <th>ID etudiant</th>
        <th>Nom etudiant</th>
        <th>Prenom etudiant</th>
        <th>Mise a jour informations etudiant</th>
        <th>Supprimer etudiant</th>
    </tr>
    <label></label>
{% for value in etudiants %}
    <tr>
        <td>{{ value.getIdEtudiant }}</td>
        <td>{{ value.getNom }}</td>
        <td>{{ value.getPrenom }}</td>
        <td> <a href="/etudiant/update/{{ value.getIdEtudiant }}">Mise a jour</a></td>
        <td><br><a href="/etudiant/delete/{{ value.getIdEtudiant }}">Supprimer</td>
    </tr>
{% endfor %}
</table>
</div>

<style>
    .content{
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2%;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid black;
        text-align: center;
        padding: 8px;
    }
    tr:nth-child(even) {background: #CCC}
    tr:nth-child(odd) {background: #FFF}
</style>